/* You can add global styles to this file, and also import other style files */
.rhe body {
    font-family: 'Fira Sans', sans-serif;
    background: url('./brick-wall.png');
    /* font-size: 60%;*/
}

.bg-white {
    background: white;
}


i.toggle {
    /* opacity: 1;
     visibility: visible;
     transition: opacity .5s, transform .5s, visibility .5s;*/
    transform: rotateX(-180deg) translateY(0px);
    transition: transform .5s
}

i.toggle.active {
    /*opacity: 0;
    visibility: hidden;*/
    transform: rotateX(0deg) translateY(0px)
}

div.toggle {
    padding: 0;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, max-height .5s, visibility .5s;
}

div.toggle.active {
    padding: inherit;
    max-height: 600px;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s linear .5s, max-height 1.5s linear .5s;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rhe a.text-warning:focus, .rhe a.text-warning:hover {
    color: #ffc107 !important;
}

.rhe .modal ul li.list-group-item{
    flex-shrink: 0;
}



